<!DOCTYPE html>
<html>
<head>
    <title>Administrador de Tareas diarias</title>
    <link rel="stylesheet" href="static/estiloindex.css">
</head>
<body>
    <div class="container">
        <h1>Administrador de tareas</h1>
        <button onclick="location.href='/admin'">Admin</button>
        <button onclick="location.href='/user/user1'">Usuario 1</button>
        <button onclick="location.href='/user/user2'">Usuario 2</button>
        <button onclick="location.href='/user/user3'">Usuario 3</button>
    </div>
</body>
</html>
